<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration 
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <!--<settings>-->
        <!--<setting name="lazyLoadingEnabled" value="true"/>-->
        <!--<setting name="aggressiveLazyLoading" value="true"/>-->
    <!--</settings>-->
        <!-- 命名空间 -->
    <typeAliases>
        <typeAlias alias="user" type="com.zs.po.User"/>
        <typeAlias alias="child" type="com.zs.po.Child"/>
        <typeAlias alias="company" type="com.zs.po.Company"/>
        <typeAlias alias="position" type="com.zs.po.Position"/>
    </typeAliases>

    <!-- 映射map -->
    <mappers>
    </mappers>
</configuration>